.cartcard{
    .jsx-4030392513{
        color: $white !important;
    }
}
.content.jsx-2956695818{
    overflow-x: auto;
}
.card {
    transition: height ease-in-out 1s !important;
}
.cell{
    color: $white;
}
.tr:hover{
    color: $gray;
}
label.jsx-1554126045{
    color: $white !important;
}
.input-container.jsx-138055421{
    background-color: $white;
    border: 1.5px $black solid;
    border-radius: 4px;
}
.input-wrapper.jsx-138055421{
    border: none;
}
.cart-text-white{
    label, input{
        color: $white !important;
    }
}

.label-shrink {
    label {
        font-size: 18px !important;
    }
}
.black {
    label,input {
        color: $black !important;
        text-align: center;
    }
}
.MuiInput-underline:after{
    border-bottom: 2px solid $black !important;
}
.clean > div:before{
    border-bottom: 1px solid $white;
}
.error:before {
    border-bottom: 1px solid red !important;
}
.cart-total{
    position: relative;
    span{
        position: absolute;
        top: -20px;
        right: -8px;
        color: red;
    }
}