// global colors
$white: #fafafa;
$yellow: #FFD56C;
$black: #202341;
$gray: #333333;
$light-gray: #9E9E9E;
$red: #DF3617;
$spacer: 2vh;
$spacer-xl: 4vh;
@import './navbar';
@import './footer';
@import './product';
@import './cart';
@import './admin';
h1,h2,h3,h4,h5,p,span,label{
  direction: rtl;
}
#__next{
  overflow: hidden;
  background: $black;
}
#page-wrap{
  overflow: hidden;
  min-height: calc(100vh - 90px);
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner-div{
  display: none;
  height: 100vh;
  width: 100vw;
  z-index: 200;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 40px;
  cursor: not-allowed;
}

.showf{
  display: flex;
}

.content-center{
  width: 100%;
}
.loading-fix{
  div {
    width: 100% !important;
  }
}
.p-0{ // remove title padding from modal
  padding: 0 !important;
}
.group.jsx-1487474754 label{
  margin: 16px !important;
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
  background-color: #F5F5F5;
  cursor: pointer;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.jsx-492226652 img{
  cursor: pointer;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.head-text{
  text-align: center;
  font-size: 48px;
}
.align-center{
  align-items: center;
  text-align: center;
  padding: 8px;
}

.headline > div{
  padding: 8pt !important;
}
@media only screen and (max-width: 651px) {
  .head-text {
    font-size: 5.2vw;
  }
}
.pizza-spinner{
  transform: rotate(-45deg);
  transition: 1s ease-in-out;
  animation: 1s infinite pizzaspin;
}
.logo-spinner{
  transition: 1s ease-in-out;
  animation: 2s infinite logospin;

}
@keyframes pizzaspin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@keyframes logospin {
  50%,100%{
    transform: rotate(360deg);
  }
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.glow {
  animation: svg-shadow 1.5s ease-in-out infinite alternate;
  cursor: pointer;
}
.table-white > tbody > tr > td{
  color: $white !important;
}
.no-hover > div{
  border-color: transparent !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.centerdiv {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@keyframes svg-shadow {
  from {
    filter: drop-shadow( 0 0 5px #fff) drop-shadow( 0 0 15px #e60073) drop-shadow( 0 0 20px #e60073);
  }

  to {
    
    filter: drop-shadow( 0 0 20px #fff) drop-shadow( 0 0 25px #e60073) drop-shadow( 0 0 40px #e60073);
  }
}
.gold-border{
  border: gold 1px solid !important;
}
// cart transition animation
.fade-enter {
  opacity: 0;
  transform: translateY(-20%);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0%);
}
.fade-exit {
  opacity: 1;
  transform: translateY(0%);
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(20%);
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms, transform 500ms;
}
.label.jsx-1693940369{
  margin-right: 8px;
  margin-left: unset !important;
}
.toast{
  text-align: right !important;
  justify-content: flex-end !important;
}