// global colors
$white: #fafafa;
$yellow: #FFD56C;
$black: #202341;
$gray: #333333;
$light-gray: #9E9E9E;
$red: #DF3617;
@import './navbar';
@import './footer';
@import './product';
#__next{
  overflow: hidden;
  background: $black;
}
#page-wrap{
  margin-top: 80px;
  margin-bottom: 120px;
  min-height: calc(100vh - 80px - 120px);
  overflow: hidden;
}
.head-text{
  text-align: center;
  font-size: 48px;
}
.align-center{
  align-items: center;
  text-align: center;
}

.headline > div{
  padding: 8pt !important;
}
@media only screen and (max-width: 651px) {
  .head-text {
    font-size: 5.2vw;
  }
}
.pizza-spinner{
  transform: rotate(-45deg);
  transition: 1s ease-in-out;
  animation: 1s infinite pizzaspin;
}
@keyframes pizzaspin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}