
.navbar{
    position: fixed;
    display: inline-flex;
    align-items: center;
    top: 0;
    z-index: 99;
    height: 56px;
    width: 100vw;
    background-color: $black;
    svg{
        position: absolute;
        right: 24px;
        top: 8px;
        font-size: 32px;
        color: $yellow;
    }
    h1{
        text-align: center;
        width: 100%;
        color: $white;
        font-size: 32px;
    }
}